/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*{
     box-sizing: border-box;
   }
   
   /* Clear fix hack */
   .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
   }
   
   .clear {
        clear: both;
   }
   
   .alignright {
        float: right;
        padding: 0 0 10px 10px; /* note the padding around a right floated image */
   }
   
   .alignleft {
        float: left;
        padding: 0 10px 10px 0; /* note the padding around a left floated image */
   }
   /*1px  = 0.0625rem
   10px = 0.625rem
   12px = 0.75rem
   14px = 0.875rem
   16px = 1rem (base)
   18px = 1.125rem
   20px = 1.25rem
   24px = 1.5rem
   30px = 1.875rem
   32px = 2rem*/
   
   /*.bodyCont {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        max-width: 1350;
   }*/
   
   /******************************************
   /* BASE STYLES
   /*******************************************/
   
   body {
        color: #f2e7dd;
        font-size: 12px;
        line-height: 1.4;
        font-family: 'Festive', cursive, Helvetica, Arial, sans-serif;
        text-align: center;
        margin-top: 10em;
        background: #A67758;
        background-position: center;
        background-position-x: -5em;
        background-position-y: -3em;
     
   }
   /******************************************
   /* LAYOUT
   /*******************************************/
   h1{
        font-size: 100px;
        margin-bottom: 5px;
   }
   h2{
     font-size: 65px;
   }
   h3{
     font-size: 30px;
   }
   input{
        width: 8em;
        height: 2em;
        font-size: 20px;
        border-radius: 2px;
        border: 2px solid #f2e7dd;
        color: #f2e7dd;
        background: #2e1c0d;
   }
   
   /******************************************
   /* ADDITIONAL STYLES
   /*******************************************/
   